alabaster==0.7.12
argh==0.26.2
arrow==0.14.2
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
binaryornot==0.4.4
bleach==3.1.0
bumpversion==0.5.3
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cookiecutter==1.6.0
coverage==4.5.3
docutils==0.14
entrypoints==0.3
filelock==3.0.12
flake8==3.7.7
future==0.17.1
idna==2.8
imagesize==1.1.0
importlib-metadata==0.17
Jinja2==2.10.1
jinja2-time==0.2.0
joblib==0.13.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.0.0
numpy==1.16.3
packaging==19.0
pathtools==0.1.2
-e git+https://github.com/Cheukting/picknmix.git@6d28ebdfdca1a1221df7d21ad451c3ec99682274#egg=picknmix
pkginfo==1.5.0.1
pluggy==0.11.0
poyo==0.4.2
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.1
pyparsing==2.4.0
pytest==4.6.2
pytest-runner==5.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.1.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
toml==0.10.0
tox==3.12.1
tqdm==4.32.1
twine==1.13.0
urllib3==1.25.3
virtualenv==16.6.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
whichcraft==0.5.2
zipp==0.5.1
